{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "index" %}">{% trans "Inicio" %}</a></li>
    <li class="active">Cambiar Contraseña</li>
{% endblock %}

{% block pagetitle %}Cambiar Contraseña{%  endblock %}

{% block content %}
<div class="col-md-12">
    <div class="white-box">
        <h3 class="box-title">Cambio de contraseña</h3>
        <p class="text-muted">Formulario para cambiar <code>contraseña</code></p>
        <div class="form">
            <form enctype="multipart/form-data" method="post" id="strategies_form" novalidate>{% csrf_token %}
                {{ form | crispy }}
                <hr />
                <div class="form-group text-right">
                    <button class="btn btn-success text-uppercase waves-effect waves-light" type="submit">
                        Cambiar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
