{% extends "base.html" %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% block title %}Estrategias{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url "index" %}">{% trans "Inicio" %}</a></li>
    <li><a href="{% url "banks" %}">{% trans "Bancos" %}</a></li>
    <li><a href="{% url "banks" %}">{% trans "Bancos de compañía" %}</a></li>
    <li class="active">Banco enviado</li>
{% endblock %}

{% block pagetitle %}Banco editado{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title">Banco modificado</h3>
            <div class="panel panel-primary">
                <div class="panel-heading">Datos actualizados:</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><span class="label label-primary">Nombre:</span> {{ bank_code }}</li>
                        <li class="list-group-item"><span class="label label-primary">Número de convenio:</span> {{ agreement }}</li>
                        <li class="list-group-item"><span class="label label-primary">Cashin activo:</span> {% include "components/boolean_icon.html" with value=cashinAvailable %}</li>
                        <li class="list-group-item"><span class="label label-primary">Tasa máxima de aceptación de cashin:</span> {{ maxAcceptedRate }}</li>
                        <li class="list-group-item"><span class="label label-primary">Validación de montos maximos:</span> {% include "components/boolean_icon.html" with value=validationAmountActive %}</li>
                        <li class="list-group-item"><span class="label label-primary">Desembolso automatico:</span> {% include "components/boolean_icon.html" with value=cashoutAvailable %}</li>
                        <li class="list-group-item"><span class="label label-primary">Monto máximo de desembolso por día:</span> {{ cashoutMaxAmountByDay }}</li>
                        <li class="list-group-item"><span class="label label-primary">Devolucion automatica:</span> {% include "components/boolean_icon.html" with value=refundAvailable %}</li>
                        <li class="list-group-item"><span class="label label-primary">Monto máximo de devoluciones por día:</span> {{ refundMaxAmountByDay }}</li>
                    </ul>
                </div>
                {% include "components/action_button.html" with action=action  %}
            </div>
        </div>
    </div>
{% endblock %}
